<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
    <title>{{titulo}}</title>
</head>

<body class="body">
    <form class="formb"  action="/logout" method="GET">
        <h1 class="bienvenida">Bienvenido! {{email}}</h1>
        <button class="unlog-btn" type="submit">Cerrar sesion</button>
    </form>
    <form class="form" onsubmit="return newProd(this)">
        <h4>Complete los siguientes campos</h4>
        <input class="input" id="title" type="text" >
        <input class="input" id="price" type="number" min="0.1" step=".01">
        <input class="input" id="thumbnail" type="text" >
        <input class="btn" value="Enviar" type="submit">
    </form>
    <table>
        <tr class="tr1">
            <th class="th1">title</th>
            <th class="th2">price</th>
            <th class="th3">thumbnail</th>
        </tr>
    </table>
    <table id="myProds" class="table">
    </table>
    <div class="msnCenter">
        <div class="form">
            <h4>Centro de Mensajes</h4>
            <label for="email">email</label>
            <input class="inputs" type="email" id="email" >
            <label for="name">nombre</label>
            <input class="inputs" type="text" id="name" >
            <label for="apellido">apellido</label>
            <input class="inputs" type="text" id="apellido" >
            <label for="edad">edad</label>
            <input class="inputs" type="number" id="edad" >
            <label for="alias">alias</label>
            <input class="inputs" type="text" id="alias" >
            <label for="thumbnail">avatar</label>
            <input class="inputs" type="text" id="thumbnail-chat" >
            <label for="mensaje">mensaje</label>
            <input class="inputs" type="text" id="texto" >
            <button id="btn" onclick="newMsn()">Enviar</button>
        </div>
        <table>
            <div class="messages-container">
                <h4 id="compression"></h4>
                <div class="mensajes" id="content"></div>
            </div>
    </div>
    <script src="js/main.js"></script>

</body>

</html>